#loginbox {
    position: absolute;
    width: 90%;
    left: 5%;
}

.loginTextbox {
    width: 80%;
    margin: 0;
    left: 0;
}

.loginboxPre {
    transform: none;
}

.material-icons-animated {
    display: none;
}

#loginboxContentMargin {
    margin-left: 10%;
}
