.wiggle{
    -webkit-animation: shake .6s linear;
}

@-webkit-keyframes shake {
    0% {
        margin-left:-10px;
    }
    16% {
        margin-left:9px;
    }
    33% {
        margin-left:-6px;
    }
    50% {
        margin-left:5px;
    }
    66% {
        margin-left:-2px;
    }
    83% {
        margin-left:1px;
    }
    100% {
        margin-left: 0px;
    }
}